$size-zero: 0px;
$size-main: 10px;
$size-width: 100;
$color-blue: #4f71b5;
$color-orange: #ffd800;
$color-green: #00ff21;
$position: center;
$font-main: Roboto;
$font-second: sans-serif;
$color-dark: black;
$color-gray: gray;
